<header class="nav">
  <div class="brand">
    <img src="{{ include.base_path }}/images/logo.png" alt="El Espejo del Fuego">
  </div>

  <nav aria-label="Navegación principal">
    <ul class="nav-menu">
      <li><a href="{{ include.base_path }}/index.html">Inicio</a></li>
      <li><a href="{{ include.base_path }}/proyecto.html">El proyecto</a></li>

      <li class="has-dropdown">
        <a href="{{ include.base_path }}/historias.html">Historias</a>
        <ul class="dropdown-menu">
          <li><a href="{{ include.base_path }}/historias-directas.html">Medidas directas</a></li>
          <li><a href="{{ include.base_path }}/historias-indirectas.html">Medidas indirectas</a></li>
        </ul>
      </li>

      <li><a href="{{ include.base_path }}/claves-del-riesgo.html">Claves del riesgo</a></li>

      <li class="has-dropdown">
        <a href="{{ include.base_path }}/conocimiento-y-datos.html">Conocimiento y datos</a>
        <ul class="dropdown-menu">
          <li><a href="{{ include.base_path }}/casa-fortalecida.html">Casa fortalecida</a></li>
          <li><a href="{{ include.base_path }}/autoproteccion.html">Espacios de autoprotección</a></li>
          <li><a href="{{ include.base_path }}/preparacion.html">Preparación para emergencias</a></li>
          <li><a href="{{ include.base_path }}/respuesta-comunitaria.html">Primera respuesta comunitaria</a></li>
        </ul>
      </li>

      <li><a href="{{ include.base_path }}/contacto.html">Contacto</a></li>
    </ul>
  </nav>
</header>
